<div class="row">
  <div class="col-12 table-responsive">
    <div class="row">
      <form id="searchForm">
        <div class="m-2">
          <input placeholder="Search..." type="search" (input)="search($event)">
        </div>
      </form>
    </div>
    <table class="table">
      <thead>
      <tr><th>Image</th>
        <th>Name<ng-container [ngTemplateOutlet]="sortElems" [ngTemplateOutletContext]="{property: 'name'}"></ng-container></th>
        <th>Type<ng-container [ngTemplateOutlet]="sortElems" [ngTemplateOutletContext]="{property: 'type'}"></ng-container></th>
        <th>Damage<ng-container [ngTemplateOutlet]="sortElems" [ngTemplateOutletContext]="{property: 'damage'}"></ng-container></th>
        <th>Pumping level<ng-container [ngTemplateOutlet]="sortElems" [ngTemplateOutletContext]="{property: 'pumping_level'}"></ng-container></th>
        <th>Description</th><th *ngIf="isAuth"></th><th *ngIf="isAuth"></th></tr>
      </thead>
      <tbody>
      <tr *ngFor="let weapon of weapons">
        <td><img [src]="getImgContent(weapon.image)"></td><td [style.color]="setColor(weapon.pumping_level)">{{ weapon.name }}</td><td>{{ weapon.type }}</td>
        <td>{{ weapon.damage }}</td><td>{{ weapon.pumping_level }}</td><td>{{ weapon.description }}</td>
        <td *ngIf="isAuth"><a id="editBtn" class="btn" [routerLink]="['/weapons/update']" [queryParams]="{id : weapon.id}">Edit</a></td>
        <td *ngIf="isAuth"><a id="delBtn" class="btn" (click)="deleteHero(weapon.id)">Delete</a></td>
      </tr>
      </tbody>
    </table>
    <a *ngIf="isAuth" class="btn mb-3" [routerLink]="['/weapons/create']">Create</a>
  </div>
</div>

<ng-template #sortElems let-property="property">
  <span class="sortElems down" (click)="descendingSort(property)"></span><span class="sortElems up" (click)="directSort(property)"></span>
</ng-template>
