.category {
  position: relative;
  padding: 20px;

  .in_category {
    position: relative;

    a {
      color: white;

      img {
        max-width: 100%;
        max-height: 500px;
        opacity: 0.8;
      }

      h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        opacity: 0.8;
        text-shadow: 1px 2px 3px black;
      }
    }

    a:hover img {
      opacity: 1;
      transform: scale(1.1);
    }

    a:hover h3 {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
